CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
data/counts_cars_pedast_cyclists_2017_2019.csv
*checkpoint*
Rmarkdown/.Rhistory
